@font-face {
    font-family: font1;
    src: url(fonts/AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: font2;
    src: url(fonts/earwig\ factory\ rg.otf);
}

html { 
    background: url(img/vintage-crumpled-paper-textured-background.jpg) no-repeat center center fixed; 
    
    background-size: cover;
  }
  body {
    height: 100%;
    min-height: 100%;
  }

 header { /*Fix the border not being the screen width */
    font-size: 300%;
    text-align: center;
    border: solid black 15px;
    font-family: font2;
    
}

.topOfpage {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

.topOfpage div {
    float: right;
    margin-top: 3.5%;
    margin-right: 2%;
}

h1 {
    margin-left: 10%;
    font-size: 300%;
}

/* Styling for the More button */
.btnSidenavOpen {
  background-color: black;
  color: white;
  padding: 15px 32px;
  border: none;
  padding: 5px;
  font-size: 31px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: font1;
}

.btnSidenavOpen:hover {
    background-color: #7c7d7e;
}
   
.btnSidenavOpen:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}

 /* Side nav styling */
  .sidenav {
    float: right;
    height: 100%;
    width: 0;
    /* position: fixed; */
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
    padding-bottom: 60px;
  }
  
  .sidenav button{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    width: 100%;
    font-family: font1;
    border-radius: 12px;
  }

  .sidenav button:hover {
    color: gray;
  }

  .sidenav .closebtn {
    margin-top: -20%;
    padding: 0%;
    width: 25%;
    font-size: 35px;
    text-align: center;
    color: red;
  }

.show {display:block;}

/* Styling for the start div */
#startDiv {
    text-align: center;
    margin-left: 16%;
    margin-right: 16%;
}

#startDiv p {
    font-size: 24px;
    font-family: font1;
}

#startDiv button {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 35px;
    height: 130px;
    width: 130px;
    margin-top: 4%;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: font1;
}

#btnStart:hover {
    background-color: #7c7d7e;
}

/* Show the user their score popup */
.showScorePopup{
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showScorePopup.open {
    opacity: 1;
    z-index: 999;
}

.showScorePopup-inner{
    background: url(img/vintage-crumpled-paper-textured-background.jpg) no-repeat center center fixed; 
    background-size: 60%;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    padding: 25px 35px;
    text-align: center;
    width: 500px;
    margin-bottom: 10%;
    clear: both;
}

.showScorePopup-inner button{
    font-family: font1;
    font-size: 25px;
    color: white;
    background-color: black;
    padding: 13px;
    border-radius: 12px;
}

#closeShowScorePopup:hover {
    background-color: #7c7d7e;
}

.showScorePopup-inner div {
    background: url(img/3d7faa2463916e4fc3c6.jpg);
    border: solid;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    
}

.showScorePopup-inner p {
    font-family: font1;
    font-size: 30px;
}

/* Popup for signing in or logging in */
.signup-loginPopup{
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-loginPopup.open {
    opacity: 1;
    z-index: 999;
}

.signup-loginPopup-inner {
    background: url(img/4880206.jpg) no-repeat center center fixed; 
    background-size: 40%;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    padding: 25px 35px;
    text-align: center;
    width: 500px;
    clear: both;
}

.signup-loginPopup-inner input {
    width: 70%;
    min-height: 30px;
    font-size: 20px;
}

.signup-loginPopup-inner label {
    font-size: medium;
}

.signup-loginPopup-inner button {
    font-family: font1;
    font-size: 25px;
    color: white;
    background-color: black;
    padding: 13px;
    border-radius: 12px;
}

#closeSignup-loginPopup {
    margin-top: -10%;
    margin-bottom: 5%;
    margin-left: 89.5%;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    color: white;
}

#btnLogin, #btnSignup {
    width: 40%;
}

#closeSignup-loginPopup:hover, #btnLogin:hover, #btnSignup:hover {
    background-color: #7c7d7e;
}

/* Popup for top 10 daily scores */
.dailyTop10Popup{
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    
    align-items: center;
    justify-content: center;
}

.dailyTop10Popup.open {
    opacity: 1;
    z-index: 999;
}

.dailyTop10Popup-inner {

    font-family: font1;
    background: url(img/4880206.jpg) no-repeat center center fixed;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    padding: 15px 25px;
    text-align: center;
    width: 700px;
    height: 900px;
    overflow: auto;
}

.dailyTop10Popup-inner div {
    border: solid black;
    border-radius: 20px;
    border-width: 18px;
}

.dailyTop10Popup-inner button {
    padding: 2%;
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

#closeDailyTop10Popup{
    margin-bottom: 58%;
    margin-left: 47%;
    position: absolute;
    border-radius: 50%;
    font-size: 30px;
    width:50px;
    height:50px;
    color: red;
    border-color: black;
    background-color: white;
    text-align: center;
}

#closeDailyTop10Popup:hover {
    background-color: lightgrey;
}

/* Pop up for top 20 monthly scores */
.monthlyTop20Popup{
    font-family: font1;
    font-size: 20px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    
    align-items: center;
    justify-content: center;
    
}

.monthlyTop20Popup.open {
    opacity: 1;
    z-index: 999;
}

.monthlyTop20Popup-inner {
    background: url(img/4880206.jpg) no-repeat center center fixed;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    padding: 15px 25px;
    text-align: center;
    width: 500px;
    
    height: 900px;
    width: 700px;
    overflow: auto;
}

.monthlyTop20Popup-inner div {
    border: solid black;
    border-radius: 20px;
    border-width: 18px;
}

.monthlyTop20Popup-inner button {
    padding: 2%;
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    font-size: larger;
}

#closeMonthlyTop20Popup{
    margin-bottom: 58%;
    margin-left: 47%;
    position: absolute;
    border-radius: 50%;
    font-size: 30px;
    width:50px;
    height:50px;
    color: red;
    border-color: black;
    background-color: white;
    text-align: center;
}

#closeMonthlyTop20Popup:hover {
    background-color: lightgrey;
}

/* Styling for Profile Popup */
.ProfilePopup{
    font-size: 25px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    
    align-items: center;
    justify-content: center;
}

.ProfilePopup.open {
    opacity: 1;
    z-index: 999;
}

.ProfilePopup-inner {
    background: url(img/4880206.jpg) no-repeat center center fixed;
    background-size: 50%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    padding: 15px 25px;
    text-align: center;
    width: 500px;
}

.ProfilePopup-inner button{
    font-family: font1;
    font-size: 25px;
    color: white;
    background-color: black;
    padding: 13px;
    border-radius: 12px;
}

.ProfilePopup-inner input {
    height: 25px;
    font-size: 20px;
}

#btnNewusername {
    padding: 2px;
    font-size: 20px;
}

#closeProfilePopup {
    margin-top: -10px;
    margin-left: 87%;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    color: white;
}

#closeProfilePopup:hover, #deleteAccountbtn:hover, #changePasswordbtn:hover, #btnNewusername:hover{
    background-color: #7c7d7e;
}

#deleteAccountbtn{
    color: red;
}

/* Popup for change riddle */
.changeRiddlePopup{
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    
    align-items: center;
    justify-content: center;
}

.changeRiddlePopup.open {
    opacity: 1;
    z-index: 999;
}

.changeRiddlePopup-inner {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    padding: 15px 25px;
    text-align: center;
    width: 500px;
    clear: both;
}

.changeRiddlePopup-inner button {
    padding: 2%;
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    font-size: larger;
}

.changeRiddlePopup-inner input{
    min-height: 30px;
    font-size: 15px;
}

/* styling for the riddle */
#riddleDiv{
    text-align: center;
    font-size: xx-large;
    padding-top: 2%;
    /* padding-bottom: 5%; */
    margin-left: 16%;
    margin-right: 16%;
}

.fadeInAnimated {
    opacity: 0;
    animation: fade-in 4s forwards; 
  }

#riddle {
    font-family: font1;
}

#txtAnswer {
    font-family: font2;
    font-size: 150%;
    width: 30%;
    min-height: 40px;
    animation-delay: 0.7s;
}

#answerLen {
    font-size: 80%;
    font-family: font1;
    animation-delay: 0.7s;
}

#btnAnswer {
    font-family: font1;
    font-size: 80%;
    color: white;
    background-color: black;
    padding: 10px;
    animation-delay: 1.5s;
}

@keyframes fade-in {
    from {opacity: 0}
  to {opacity: 1}
  }

#btnAnswer:hover{
    background-color: #7c7d7e;
}
.btnAnswer:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}

#feedbackForAnswer {
    font-family: font1;
    font-size: 70%;
}

.instructionsText {
    margin-top: 5%;
    bottom: 0;
    padding-top: 5%;
    padding-right: 15%;
    padding-bottom: 13%;
}

.instructionsText p{
    font-size: 120%;
    padding-left: 1%;
}

/* Delete position for smaller screens */
footer{
    border-top: solid black 5px;
    clear: both;
    position: relative;
    height: 50px;
    text-align: center;
    /* margin-top: -1100px; */
    
}

